{{layers-styles/simple/stroke-editor
  styleSettings=styleSettings
  change=(action "onStyleSettingsChange")
}}
{{layers-styles/simple/fill-editor
  styleSettings=styleSettings
  change=(action "onStyleSettingsChange")
}}
<div class="empty-space">
</div>
