<input type="hidden" name="stroke-dasharray">
<div class="text">
</div>
<i class="dropdown icon"></i>
<div class="menu">
  {{#each _availableDashArrays as |dashArray|}}
    <div class="item" data-value="{{dashArray}}">
      <svg width="35" height="40" viewBox="0 0 35 40" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polyline stroke-dasharray="{{dashArray}}"
                  points="0,22 60,22"
                  stroke="{{strokeColor}}"
                  stroke-width="2"
                  fill="none"/>
      </svg>
    </div>
  {{/each}}
</div>
