
<div class="field">

  <label>
    {{dropdownCaption}}
  </label>

  {{flexberry-dropdown
    class="fluid"
    items=_metadataRecordsNames
    value=_metadataRecordsName
    onChange=(action "createLayerFromMetadata")
  }}

</div>
