.bookmark-block {
  padding: 0.75em 1em;
}

.bookmarks {
  width: 100%;
  padding-top: 10px;
}

.bmrk-add-block {
  margin-top: 10px;
}

.bookmark-item,
.bmrk-add-block {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}

.bookmark-item {
  border-bottom: 1px solid #E8E9E9;
}

.bookmark-item:hover {
  background-color: #F3F3F3;
}

.bookmark-item-title,
.bmrk-add-block .flexberry-textbox {
  width: 100%;
  padding-right: 90px;
  line-height: 36px;
}

.bookmark-item-buttons,
.bmrk-add-block-buttons {
  position: absolute;
  right: 0;
  top: 0;
}
