.flexberry-map {
  font-family: inherit;
  height: 500px;
  width: 100%;
  &.crosshair {
    cursor: crosshair;
  }
  &.zoom-in {
    cursor: zoom-in;
  }
  &.zoom-out {
    cursor: zoom-out;
  }
  &.help {
    cursor: help;
  }
  &-loader {
    z-index: 10001 !important;
    color: #ffffff !important;
    &-dimmer {
      z-index: 10000 !important;
    }
  }
  .identify-popup {
    .ui.accordion .item .title,
    .ui.list .item {
      cursor: pointer;
    }
    .item.active {
      background: #aecff7;
      border: 1px solid gray;
      border-radius: 2px;
    }
    .leaflet-popup-content {
      margin: 1.5em 1.5em;
      .column {
        overflow: auto;
      }
    }
    .ui.accordion .content .ui.list {
      margin-left: 2em !important;
    }
  }
}
