.layer-result-list {
  .item {
    cursor: pointer;
    &.active {
      background: #aecff7;
      border: 1px solid gray;
      border-radius: 2px;
    }
  }
  .feature-result-item {
    &-select.icon.item {
      position: absolute;
      left: 1.2em;
      margin-top: .5em;
    }
    &-title {
      &>* {
        vertical-align: top;
        display: inline-block;
      }
    }
    &-caption {
      text-overflow: ellipsis;
      max-width: 80%;
    }
  }
  &-toggler .title {
    .flexberry-toggler-caption {
      margin-left: 1em;
    }
  }
}
