.layer-result-list {
    .item {
        cursor: pointer;
        &.active {
            background: #aecff7;
            border: 1px solid gray;
            border-radius: 2px;
        }
    }
    .feature-result-item-group {
        .ui.dropdown>.dropdown.icon {
            margin: 0;
        }
    }
    .feature-result-item {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        &-title {
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
        }
        &-caption {
            padding-left: 10px;
            max-width: 350px;
            min-width: 350px;
        }
        .links~.feature-result-item-caption {
            max-width: 300px;
            min-width: 300px;
        }
        &-toolbar {
            .ui.dropdown>.dropdown.icon {
                margin: 0;
            }
        }
    }
}