<h3 class="ui header">{{t "forms.components-examples.flexberry-maplayers.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="jsonLayers">
        {{t "forms.components-examples.flexberry-maplayers.settings-example.json-layers-tab-caption"}}
      </a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="jsonLayers">
      {{#settings-example
        controllerProperties=this
        componentSettingsMetadata=jsonLayersComponentSettingsMetadata
        componentTemplateText=jsonLayersComponentTemplateText
      }}
        {{flexberry-maplayers
          class=jsonLayersClass
          exclusive=jsonLayersExclusive
          collapsible=jsonLayersCollapsible
          animateChildren=jsonLayersAnimateChildren
          duration=jsonLayersDuration
          readonly=jsonLayersReadonly
          layers=(get-with-dynamic-actions this "jsonLayers"
            hierarchyPropertyName="layers"
            pathKeyword="layerPath"
            dynamicActions=(array
              (hash
                on="headerClick"
                actionName="onMapLayerHeaderClick"
                actionArguments=(array "{% layerPath %}")
              )
              (hash
                on="add"
                actionName="onMapLayerAdd"
                actionArguments=(array "{% layerPath %}")
              )
              (hash
                on="edit"
                actionName="onMapLayerEdit"
                actionArguments=(array "{% layerPath %}")
              )
              (hash
                on="remove"
                actionName="onMapLayerRemove"
                actionArguments=(array "{% layerPath %}")
              )
              (hash
                on="changeVisibility"
                actionName="onMapLayerChangeVisibility"
                actionArguments=(array "{% layerPath %}.visibility")
              )
            )
          )
          add=(action "onMapLayerAdd" "jsonLayers")
        }}
      {{/settings-example}}
      <br>
      {{settings-example
        controllerProperties=this
        componentSettingsMetadata=jsonLayersLatestClickedLayerComponentSettingsMetadata
        componentSettingsCaption=(t "forms.components-examples.flexberry-maplayers.settings-example.json-layers-latest-clicked-layer-caption")
        componentSettingsPlaceholder=(t "forms.components-examples.flexberry-maplayers.settings-example.json-layers-latest-clicked-layer-placeholder")
      }}
    </div>
  </div>
</form>
