/**
  Styles for print/export tool's dialog (see templates/components/map-commands-dialogs/export.hbs).
*/

.ui.modal.flexberry-export-map-command-dialog > .content.flexberry-dialog-content {
  // Stretch dialog's content to whole available dialog's size.
  padding: 0;

  // Force color-picker's palette to be visible.
  overflow: visible;

  &.has.error.message {
    overflow: auto;
  }

  > .ui.error.message {
    margin: 14px;
  }

  > .ui.form > .ui.grid {
    // Stretch nested grid to whole available content's size.
    margin-top: 0;
 	  margin-bottom: 0;
    box-shadow: none;

    // Same as dialog content's max-height in Semantic UI.
    height: 400px;
    max-height: 400px;

    .flexberry-export-map-command-dialog-settings-column {
      padding-right: 0;

      .ui.tabular.menu {
        &.fluid {
          width: 100% !important;

          .item {
            // Now there is only four items inside tabular menu (so 100% / 4 = 25%).
            width: 25%;

            &:last-child {
              width: calc( 25% + 1px );
            }
          }
        }

       .item {
          padding-top: 10px;
          padding-bottom: 10px;

          i.icon {
            margin: 0 auto;
            font-size: 1.2em;
          }

          &.disabled {
            i.icon.download:before {
              color: #999;
            }
          }
        }
      }

      .ui.tab.segment {
        // Height is 100% minus height of tabular menu items related to their paddings, borders and font size.
        height: calc( 100% - 24px - 1.2em );
        border-radius: 0;

        .flexberry-dropdown.ui.selection.dropdown .menu {
          // About 4 items is enough.
          // Without max height two scrolls will appear (one in settings column, another in dropdown menu).
          max-height: 150px;
        }

        .ui.grid {
          .row {
            // Shrink distance between components neighbouring rows.
            &:not(:last-child) {
              padding-bottom: 0;
            }

            .column {
              // Shrink distance between components located in same rows.
              &:not(:last-child) {
                padding-right: 0;
              }
            }
          }
        }
      }
    }

    .flexberry-export-map-command-dialog-preview-column {
      box-shadow: none;
    }
  }
}

// While export is running sheet of paper is outside of export dialog (straight in the document's body),
// so styles for it is outside of export dialog's styles too.
.flexberry-export-map-command-dialog-sheet-of-paper {
  background: white;
  border: 1px solid #d4d4d5;
  width: 100%;
  height: 100%;
  padding: 14px;
  margin: 0 auto;
  display: block;
  overflow: hidden;

  .flexberry-export-map-command-dialog-sheet-of-paper-map-caption {
    // Distance between map & it's caption (same as padding inside sheet of paper).
    margin-bottom: 14px;
    text-align: center;
  }

  .flexberry-export-map-command-dialog-sheet-of-paper-map {
    background: #f4f4f4;
    border: 1px solid #d4d4d5;
    width: 100%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;

    .flexberry-map {
      width: 100%;
      height: 100%;
    }
  }

  &.map-only-mode {
    padding: 0;

    .flexberry-export-map-command-dialog-sheet-of-paper-map-caption {
      display: none;
      margin-bottom: 0;
    }

    .flexberry-export-map-command-dialog-sheet-of-paper-map {
      border: none;
      width: 100%;
      height: 100%;

      .flexberry-map {
        .leaflet-control-container {
          display: none;
        }
      }
    }

    .flexberry-export-map-command-dialog-legend-control-map {
      display: none;
      padding-right: 0;
    }
  }

  // Legend under map.
  .flexberry-export-map-command-dialog-legend-control-map {
      .layer-legend-image-wrapper {
        float: left;
        height: inherit;
        padding-right: 10px;

        .layer-legend-image {
          height: inherit;
        }
      }
  }
}
