@import './themes/default/globals/site.variables';
@import './themes/default/elements/button.variables';
@import './themes/default/elements/container.variables';
@import './themes/default/modules/accordion.variables';
@import './themes/default/modules/sidebar.variables';

.ui.loading.form {

  /**
    Increased 'loading' form z-index to hide leaflet map placed on form.
  */
  &:before {
    z-index: 1000000 !important;
  }

  /**
    Increased 'loading' form spinner z-index to make it visible above leaflet map & form.
  */
  &:after {
    z-index: 1000001 !important;
  }
}

.ui.form {
  .field .required {
    color: @red;
  }

  /**
    Prevent ui messages from being hided inside <form>.
  */
  .success.message,
  .warning.message,
  .error.message {
    display: block !important;

    /**
      Hide hidden ui messages inside <form>.
    */
    &.hidden {
      display: none !important;
    }
  }
}

.flexberry-validationsummary.ui.gray.message {
  box-shadow: none;
  color: @greyText;
  border-color: @greyText;
}

/**
    Fix disappearing checkboxes while scrolling
*/

.ui.checkbox {

  .box:before,
  label:before,
  input:checked~.box:after,
  input:checked~label:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.scale-header>label {
  font-size: 0.92857143em;
  font-weight: bold;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.leaflet-tile-pane {
  z-index: auto;
}

.leaflet-marker-pane {
  z-index: 2500;
}

.leaflet-popup-pane {
  z-index: 2000;
}

.leaflet-tooltip-pane {
  z-index: 2000;
}

.leaflet-overlay-pane {
  z-index: 2000;
}

.leaflet-zoomto-pane {
  z-index: 2000;
}

.hidden {
  display: none !important;
}

.leaflet-marker-icon.label.polygon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.leaflet-marker-icon.label.point {
  display: flex;

  &.over {
    align-items: end;
  }

  &.along {
    align-items: center;
  }

  &.under {
    align-items: start;
  }

  &.left {
    justify-content: end;
  }

  &.right {
    justify-content: start;
  }

  &.middle {
    justify-content: center;
  }
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.h-42 {
  height: 42px;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.p-10 {
  padding: 10px;
}

.ml-auto {
  margin-left: auto !important;
}


.ui.icon.button.help-button.help-button {
  box-shadow: none !important;
  margin: 0;
  position: absolute;
  margin-left: 0.5em;

  &:hover {
    box-shadow: none !important;
    border: none;
    background: transparent !important;
  }
}

.flexberry-identify-panel {
  .identify-file-buttons {
    padding: 10px 10px 0 10px;
  }

  .wrapper {
    margin: 20px 0px;
  }

  .wrapper:last-child {
    margin-bottom: 0px;
  }

  .file-input,
  .flexberry-file-filename-input {
    width: 85% !important;
    height: 32px;
  }

  .file-panel {
    button {
      padding: 4px 6px;
    }
  }
}

.temp-layer-info {
  >i {
    color: #DBA939 !important;
  }
}

.success-modal-content {
  position: fixed;
  bottom: 20px;
  left: 20px;
  word-break: break-word;

  width: 395px;
  box-shadow: 0px 0px 6.4px 0px #00000026;
  border: 1px solid #DDE1E6;
  background: white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 4rem;
  padding-right: 2rem;
  border-radius: 4px;
  z-index: 9999;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.3s forwards;

  i.close {
    cursor: pointer;
    position: absolute;
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    top: 4px;
    right: 6px;
    z-index: 1;
    opacity: 1;
    font-size: 1rem;
    color: #C7CCD1;
    width: 1rem;
    height: 1rem;
    margin: 0;

    &::before {
      content: "\e806";
      font-family: 'Crimean';
      font-size: 1rem;
      color: #C7CCD1;
    }
  }

  i.success {
    position: absolute;
    font-size: 2.5rem;
    vertical-align: middle;
    font-family: 'guideline-icons';
    font-style: normal;
    top: 50%;
    left: 0.875rem;
    transform: translateY(-50%);

    &::before {
      content: "\e939";
      color: #71BC90;
    }
  }

  i.modal-icon {
    position: absolute;
    font-size: 2.5rem;
    vertical-align: middle;
    font-family: 'guideline-icons';
    font-style: normal;
    top: 50%;
    left: 0.875rem;
    transform: translateY(-50%);

    &.green {
      color: #71BC90;
    }

    &.red {
      color: #e94b3d;
    }

    &.orange {
      color: #dba939;
    }
  }



  &.blue-icon {
    i.success::before {
      color: #0061D9;
    }

    p i.icon-guideline-save.text-icon {
      // font-size: 1.25rem !important;
      // vertical-align: sub !important;
      // color: #0061D9 !important;
    }
  }

  h2 {
    margin: 0;
    font-family: 'Tahoma';
    font-size: 1.125rem;
    line-height: 2rem;
  }

  p {
    font-family: 'GOSTUI2';
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.modal-content.fade-out {
  animation: fadeOut 0.2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.flexberry-image-viewer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: 1px;
  align-items: center;

  .preview {
    width: 75px;
    height: 75px;

    &.more {
      border-radius: 5px;
      border: 1px solid #0061D9;
      color: #0061D9;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.scrolling.dimmable > .dimmer.carousel-dimmer {
  justify-content: center;
}

.ui.dimmer.carousel-dimmer {
  background-color: rgba(109, 109, 109, 0.9);
}

.carousel.ui.modal {
  height: calc(~'100% - 2rem');
  font-size: 1.25rem;
}
.carousel.ui.modal .content {
  height: 100%;
  padding: 0;
  background: transparent;
}

.flexberry-carousel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flexberry-carousel-container {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .ui.button.nav {
    background-color: transparent;
    color: inherit;
    font-size: 4rem;
    box-shadow: none;
  }
}

.flexberry-carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.actions {
    white-space: nowrap;
  }
}

.flexberry-carousel-items {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 1000px;
  height: 500px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.flexberry-carousel-items::after,
.flexberry-carousel-items::before {
  content: '';
  display: table;
  clear: both;
}

.flexberry-carousel-item {
  display: none;
  position: relative;
  transition: all 0.4s ease-in-out;
  height: 100%;
  text-align: center;
}

.flexberry-carousel-item.active {
  display: block;
}

.flexberry-carousel-item img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flexberry-carousel-item.no-data {
  display: block;
  width: 100px;
  font-size: 20px;
  color: white;
  width: 100%;
  text-align: center;
}

.flexberry-carousel-item.left,
.flexberry-carousel-item.right {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}

.flexberry-carousel-item.left {
  left: 100%;
}

.flexberry-carousel-item.right {
  left: -100%;
}

.flexberry-carousel-item.active.left.slide-out {
  left: -100%;
}

.flexberry-carousel-item.active.right.slide-out {
  left: 100%;
}

.flexberry-carousel-item.left.slide-in,
.flexberry-carousel-item.right.slide-in {
  left: 0;
}

.flexberry-carousel-item.active {
  left: 0;
}

.flexberry-carousel-header .actions .ui.button {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  &:not(.cancel) i {
    font-size: 1.875rem;
  }
  &.cancel i {
    font-size: 3.4375rem;
  }
}

.flexberry-file-image-preview-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 75px);
  grid-auto-rows: 75px;
  gap: 1rem;
  justify-content: center;
}

.flexberry-file-image-preview-block {
  position: relative;
  display: inline-block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flexberry-file-image-preview-block .delete-image-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 17px;
  height: 17px;
  background: white;
  color: #DC231E;
  border: 2px solid #DC231E;
  border-radius: 50%;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,0.35);
}

.flexberry-file-image-preview-block .delete-image-btn:hover {
  background: #f2f2f2;
  border-color: #DC231E;
  color: #DC231E;
  box-shadow: 0 0 6px rgba(0,0,0,0.55);
}

.flexberry-file-dropzone {
  padding-bottom: 10px;
}

.hide {
  display: none;
}

.attach-img-dialog .flexberry-file .ui.action.input:not([class*="left action"]) > input {
 border-right-color: #F4F7FB !important;
}

.attach-img-dialog .flexberry-file .ui.action.input:not([class*="left action"])>.button {
  background-color: #F4F7FB;
  padding: .5714em .35714em;
  border: none;
}
.attach-img-dialog .flexberry-file .ui.action.input:not([class*="left action"])>.button:not(:last-of-type) {
  border-radius: 0;
}

.layer-result-list a.attach-img-button {
  color: #0061D9;
  display: block;
  margin-bottom: 0.5em;
}

.attach-img-dialog-header {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.attach-img-dialog.ui.modal > .content {
  border-radius: 5px;
  padding: 2rem;
}

.attach-img-dialog-actions {
  display: flex;
  justify-content: end;
}

.attach-img-dialog .ui.negative.message {
  background-color: #FDEDEC;
  font-size: 1rem;
}

.attach-img-dialog .ui.button.attach i {
  margin: 0 0 0 10px;
}

.attach-img-dialog .ui.button:not(.disabled, .icon) {
  margin: 0;
  box-shadow: 0px 0px 0px 1px #0061D9 inset;
  background-color: transparent;
  &:hover {
    color: #0154ba;
    box-shadow: 0px 0px 0px 1px #0154ba inset;
  }
}

.attach-img-dialog .flexberry-file {
  min-height: 15rem;
}