@import './components/flexberry-tree';
@import './components/flexberry-map';

/**
  Increased 'loading' form z-index to hide leaflet map placed on form.
*/
.ui.loading.form:before {
  z-index: 1000000 !important;
}

/**
  Increased 'loading' form spinner z-index to make it visible above leaflet map & form.
*/
.ui.loading.form:after {
  z-index: 1000001 !important;
}

.toolbar-menu {
}

.toolbar-dropdown {
  background-color: #e0e1e1 !important;
  color: #5b5b5b !important;
  font-weight: bold !important;
}

.toolbar-dropdown:hover {
  background-color: #cacbcd !important;
  color: #000000 !important;
}

.abovemap {
  z-index:2000 !important
}
