@import './components/flexberry-tree';
@import './components/flexberry-map';
@import './components/flexberry-map-tool';
@import './components/flexberry-map-command';
@import './components/map-commands-dialogs/search';
@import './icons';
/**
  Increased 'loading' form z-index to hide leaflet map placed on form.
*/
.ui.loading.form:before {
  z-index: 1000000 !important;
}

/**
  Increased 'loading' form spinner z-index to make it visible above leaflet map & form.
*/
.ui.loading.form:after {
  z-index: 1000001 !important;
}

/**
  Prevent ui messages from being hided inside <form>.
*/
.ui.form .success.message,
.ui.form .warning.message,
.ui.form .error.message {
    display: block !important;
}

/**
  Hide hidden ui messages inside <form>.
*/
.ui.form .success.message.hidden,
.ui.form .warning.message.hidden,
.ui.form .error.message.hidden {
    display: none !important;
}
