/*******************************
        Import Directives
*******************************/

@theme : @@element;
@associate-name: "@{element}-associate";
@associate: @@associate-name;

/*--------------------
   Site Variables
---------------------*/

/* Default */
@import "@{semanticUiThemesFolder}/default/globals/site.variables";

/* Ember-flexberry theme */
@import (optional) "@{emberFlexberryThemesFolder}/@{theme}/globals/site.variables";

/* Ember-flexberry-gis theme */
@import (optional) "@{gisThemesFolder}/@{theme}/globals/site.variables";

/* Site Theme */
@import (optional) "@{siteFolder}/globals/site.variables";


/*-------------------
 Component Variables
---------------------*/

/* Default */
@import (optional) "@{semanticUiThemesFolder}/default/@{type}s/@{element}.variables";

/* Ember-flexberry theme */
@import (optional) "@{emberFlexberryThemesFolder}/@{theme}/@{associate}.variables";
@import (optional) "@{emberFlexberryThemesFolder}/@{theme}/@{type}s/@{element}.variables";

/* Ember-flexberry-gis theme */
@import (optional) "@{gisThemesFolder}/@{theme}/@{type}s/@{element}.variables";

/* Site Theme */
@import (optional) "@{siteFolder}/@{type}s/@{element}.variables";


/*******************************
             Mix-ins
*******************************/

/*------------------
       Fonts
-------------------*/

.loadFonts() when (@importGoogleFonts) {
  @import url('@{googleProtocol}fonts.googleapis.com/css?family=@{googleFontRequest}');
}

/*------------------
     Overrides
-------------------*/

.loadUIOverrides() {
  @import (optional) "@{semanticUiThemesFolder}/default/@{type}s/@{element}.overrides";
  @import (optional) "@{emberFlexberryThemesFolder}/@{theme}/@{type}s/@{element}.overrides";
  @import (optional) "@{gisThemesFolder}/default/@{type}s/@{element}.overrides";
  @import (optional) "@{gisThemesFolder}/@{theme}/@{type}s/@{element}.overrides";
  @import (optional) "@{siteFolder}/@{type}s/@{element}.overrides";
}
