/**
  Common styles for layers-dialogs (see templates/components/layers-dialogs).
*/

.ui.modal.flexberry-add-layer-dialog, .ui.modal.flexberry-edit-layer-dialog {
  &> .flexberry-dialog-content.content {
    // Same as dialog content's max-height in Semantic UI.
    height: 400px;
    overflow: hidden;

    form {
      height: 100%;

      .ui.tabular.menu {
        &.fluid {
          width: 100% !important;

          .item {
            // Now there is only six items inside tabular menu (so 100% / 6 = 16.66...%).
            width: 16.65%;

            &:last-child {
              width: calc( 16.75% + 2px );
            }
          }
        }

       .item {
         min-height: 60px;
        }
      }

      .ui.tab.segment {
        // Height is 100% minus height of tabular menu items.
        height: calc( 100% - 60px );
        overflow: auto;

        .flexberry-dropdown.ui.selection.dropdown .menu {
          // About 3 items is enough.
          // Without max height two scrolls will appear (one in settings column, another in dropdown menu).
          max-height: 115px;
        }

        .flexberry-jsonarea {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
