<div class="field">
  {{#if _errorMessage}}
    {{ui-message
      type="error"
      closeable=true
      message=_errorMessage
    }}
  {{/if}}
  {{flexberry-button
    class="fluid"
    click=(action "reloadMetadata")
    caption=(t "components.layers-dialogs.layers-prototyping-modes.metadata-reload")
  }}
  <label>
    {{t "components.layers-dialogs.layers-prototyping-modes.metadata-records-dropdown.caption"}}
  </label>
  {{flexberry-dropdown
    class=(concat "fluid" (if _metadataIsLoading " loading" ""))
    items=_metadataRecordsNames
    value=_selectedMetadataRecordName
    onChange=(action "onSelectedMetadataRecordChanged")
  }}
</div>