@import 'src/semantic';
@import 'addon/styles/addon';
@import "node_modules/ember-flexberry/addon/styles/addon";

.spinner {
  background: url('images/cat.gif') no-repeat;
  background-size: contain;
  height: 140px;
  width: 175px;
  margin: 0 auto;
}

.loading-message {
    text-align: center;
    color: #aaa;
}

.exit-btn,
&.page-header-caption {
    cursor: pointer;
}

.stackable > .ui.message {
  top: inherit;
}

#example {
    .flexberry-content {
        margin: 0;
        padding: 0px;
    }
    .ui.container {
        margin: 0;
        width: 100%;
    }
    .grid.container>.row {
        padding-right: 10px;
    }
    .full.height {
      padding: 10px 10px 0 10px;
      width: 100%;
      transition: width 0.3s ease-in-out 0s;
      overflow-x: hidden;
    }
    .flexberry-edit-panel {
      margin-bottom: 1rem;
    }
}

#example-mobile {
    .flexberry-content {
        padding: 0;
    }
    .ui.container {
        margin: 0;
        padding: 0;
    }
    .flexberry-content {
        padding: 10px 0 0 10px;
        margin: 0;
        overflow-x: hidden;
    }
}


/************************************************************
    Simple layers-style (components/layers-styles/simple)
************************************************************/
.ui.selection.dropdown {
  &.simple-layers-style-stroke-linejoin-dropdown,
  &.simple-layers-style-stroke-linecap-dropdown,
  &.simple-layers-style-stroke-dasharray-dropdown {
    min-width: 0;
    padding-top: 3px;
    padding-bottom: 3px;

    >.dropdown.icon {
      top: 1.5em;
    }

    .menu {
      // About three items is enough.
      max-height: 150px;

      >.item {
        // Impartans are needed here because of importants in original Semantic UI dropdown styles.
        padding-top: 3px !important;
        padding-bottom: 3px !important;
      }
    }
  }
}

form.flexberry-edit-layermap {
  .simple-layers-style {
    .ui.pointing.secondary.menu {
      .item {
        display: flex;
        justify-content: center;
        width: 50%;
      }
    }

    .ui.tab.segment {
      overflow: hidden;
      border: none;
      box-shadow: none;
      padding: 0;

      .ui.grid.style-settings-with-preview {
        margin: 0;
        padding: 0;
        padding-top: 1px;

        >.column {
          padding: 0;

          &:last-child {
            padding-left: 1rem;
          }
        }

        canvas {
          margin: 0 auto;
          border: 1px solid rgba(34, 36, 38, 0.15);
          border-radius: 0.285rem;
        }

        .flexberry-jsonarea {
          margin-left: 1px;
        }

        .flexberry-colorpicker {
          width: 40px;
          border: 1px solid #b1cae8;
          border-radius: 0.285rem;
        }

        .empty-space {
          // It is needed to have enough space for colorpicker's sprite.
          height: 150px;
        }

        .simple-layers-style-path-editor {
          .ui.table {
            margin-bottom: 1rem;

            th:first-child {
              width: 70px;
            }

            td {
              &>input {
                max-width: 60px;
                height: 50px;
              }

              &>.ui.dropdown {
                height: 50px;
              }
            }
          }
        }

        .markers-styles-editor {
          .ui.table {
            margin-bottom: 1rem;
          }
        }
      }

      &[data-tab="path-tab"] {
      }

      &[data-tab="marker-tab"] {
      }
    }
  }
}
