.margin {
  margin-left: 10px;
}

.spinner {
  background: url('/assets/images/cat.gif') no-repeat;
  background-size: contain;
  height: 140px;
  width: 175px;
  margin: 0 auto;
}

.loading-message {
  text-align: center;
  color: #aaa;
}

