<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.geocoder-osm-ru.url-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.url
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.geocoder-osm-ru.autocomplete-url-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.autocompleteUrl
  }}
</div>
