<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.tile.url-textbox.caption"}}
  </label>
  {{!-- class="fluid" --}}
  {{flexberry-textbox
    value=settings.kmlUrl
  }}
  <label>
    {{t "components.layers-dialogs.settings.tile.url-textbox.caption"}}
  </label>
  {{flexberry-textbox
    value=settings.kmlString
  }}
</div>
