<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.kml.url-textbox.caption"}}
  </label>
  {{!-- class="fluid" --}}
  {{flexberry-textbox
    class="fluid"
    value=settings.kmlUrl
  }}
  <label>
    {{t "components.layers-dialogs.settings.kml.string-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.kmlString
  }}
</div>
