<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.tile.url-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.url
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.tile.no-wrap-checkbox.caption"}}
  </label>
  {{flexberry-checkbox
    value=settings.noWrap
  }}
</div>
