<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.tile-yandex.map-type-dropdown.caption"}}
  </label>
  {{flexberry-dropdown
    items=(array "map" "satellite" "hybrid" "publicMap" "publicMapHybrid")
    value=settings.type
  }}
</div>
