<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.tile-vector.url-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.url
  }}
  <label>
    {{t "components.layers-dialogs.settings.tile-vector.layerName-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.layerName
  }}
</div>