<div class="ui segment">
  <h5 class="ui header">
    {{t "components.layers-dialogs.settings.wms-wfs.wms-segment.caption"}}
  </h5>
  {{component "layers-dialogs/settings/wms" settings=settings}}
</div>
<div class="ui segment">
  <h5 class="ui header">
    {{t "components.layers-dialogs.settings.wms-wfs.wfs-segment.caption"}}
  </h5>
  {{component "layers-dialogs/settings/wfs" settings=settings.wfs}}
</div>
