<button type="submit" class="ui compare button" {{action "compareTwoGeometries"}}>{{t "components.compare-object-geometries.compare-objects-caption"}}</button>
{{layer-result-list
  results=data
  serviceLayer=serviceLayer
  leafletMap=leafletMap
  favoriteMode=true
  addToFavorite=(action "addToFavorite")
  addToCompareGeometries=(action 'addToCompareGeometries')
  showIntersectionPanel=(action 'showIntersectionPanel')
}}