
<div onclick={{action 'clickme'}}>
  Clicker
</div>
 {{#each results as |item|}}
  {{item.properties.name}}<br>
{{/each}}
 {{layer-result-list
    results=results
    serviceLayer=serviceLayer
    leafletMap=leafletMap
}}
