{{input
  class=(concat flexberryClassNames.input " prompt")
  type="text"
  value=value
  placeholder=(t "components.flexberry-search.placeholder")
}}
<div class="{{flexberryClassNames.results}} results">
</div>
