{{#flexberry-dropdown items=items value=value class=class needChecksOnValue=false}}
  <div class="item hidden"></div>
  <div class="custom-dropdown-input active" title={{inputTitle}}>
    {{flexberry-textbox value=inputValue placeholder=inputPlaceholder keyDown=(action "inputKeyDown")}}
  </div>
{{/flexberry-dropdown}}
