{{#flexberry-search
    class="fluid action input"
    dynamicProperties=searchSettings
    value=queryString
    enter=(action "querySearch" false)
    select=(action "querySearch" true)
}}
  <button class="ui icon search-button" {{action "querySearch" false}}>
    <i class="search icon"></i>
  </button>
  <button class="ui icon clear-search-button" {{action "clearSearch"}}>
    <i class="remove icon"></i>
  </button>
{{/flexberry-search}}
