{{input
  class=(concat flexberryClassNames.input " prompt")
  type="text"
  value=value
  placeholder=(t "components.flexberry-search.placeholder")
  enter=(action "enter")
}}
{{yield}}
<div class="{{flexberryClassNames.results}} results">
</div>
