{{#each results as |result|}}
 {{#if (await result.features)}}
   {{#flexberry-toggler caption=result.layerModel.name}}
     <div class="ui list transition">
      {{#each (await result.features) as |feature|}}
        {{feature-result-item
          feature=feature
          layerModel=result.layerModel
          selectedFeature=selectedFeature
          selectFeature=(action "selectFeature")
          panTo=(action "panTo")
          zoomTo=(action "zoomTo")
        }}
      {{/each}}
     </div>
    {{/flexberry-toggler}}
  {{/if}}
{{/each}}
