<div class="{{flexberryClassNames.imageWrapper}}">
  <canvas class="{{flexberryClassNames.image}}"></canvas>
  {{#if showCaption}}
    <label class="{{flexberryClassNames.caption}}">{{caption}}</label>
  {{/if}}
</div>