<div class="ui centered grid">
  <div class="six wide column">
    <div class="field">
      <label>
        {{t "components.gradients.gradient-edit.gradientColorStart"}}
      </label>
      {{flexberry-colorpicker
        value=_gradientColorStart
        change=(action "onGradientColorStartChange")
      }}
    </div>
    <div class="field">
      <label>
        {{t "components.gradients.gradient-edit.gradientColorEnd"}}
      </label>
      {{flexberry-colorpicker
        value=_gradientColorEnd
        change=(action "onGradientColorEndChange")
      }}
    </div>
  </div>
  <div class="three wide column">
    <canvas class="myCanvas" >
    </canvas>
  </div>
</div>
