<div>
  <div class="ui horizontal list">
    <div class="item">
      <label>
        {{t "gradients.gradient-edit.gradientColorStart"}}
      </label>
      {{flexberry-colorpicker
        value=customGradientColorStart
        change=(action "onGradientColorStartChange")
      }}
    </div>
    <div class="item">
      <label>
        {{t "gradients.gradient-edit.gradientColorEnd"}}
      </label>
      {{flexberry-colorpicker
        value=customGradientColorEnd
        change=(action "onGradientColorEndChange")
      }}
    </div>
  </div>
</div>
