<div class="field">
  <label>
    {{t "components.charts.type-charts.line.caption"}}
  </label>
{{flexberry-dropdown
  items=_itemsName
  value=_valueName
}}
</div>
<div class="field">
  <label>
    {{t "components.charts.type-charts.line.value"}}
  </label>
{{flexberry-dropdown
  items=_itemsValues
  value=_valueValues
}}
</div>
