<div class="field">
  <label>
    {{t "components.charts.type-charts.pie.caption"}}
  </label>
  {{flexberry-dropdown
    class="compact selection"
    items=_propertiesForXAxis
    value=key
    displayCaptions=(get localizedProperties _selectedXAxisProperty)
    onChange=(action "onXAxisPropertyChange")
  }}
</div>
<div class="field">
  <label>
    {{t "components.charts.type-charts.pie.value"}}
  </label>
  {{flexberry-dropdown
    class="compact selection"
    items=_propertiesForYAxis
    value=key
    displayCaptions=(get localizedProperties _selectedYAxisProperty)
    onChange=(action "onYAxisPropertyChange")
  }}
</div>
