<div class="field">
  <label>
    Наименование
  </label>
{{flexberry-dropdown
  items=_captionSeries
  value=_val1
}}
</div>
<div class="field">
  <label>
    Значения
  </label>
{{flexberry-dropdown
  items=_valueSeries
  value=_val2
}}
</div>
