<div class="field">
  <label>
    Наименование
  </label>
{{flexberry-dropdown
  items=_itemsName
  value=_valueName
}}
</div>
<div class="field">
  <label>
    Значения
  </label>
{{flexberry-dropdown
  items=_itemsValues
  value=_valueValues
}}
</div>
