<h3 class="ui header">{{t "forms.components-examples.flexberry-wfs-filter.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
    {{flexberry-wfs-filter}}
</form>
