<div class="field">
  <label>
    Заголовок
  </label>
{{flexberry-textbox
  value=_captionChart
}}
</div>
<div class="field">
  {{flexberry-button
    class="fluid"
    caption="Сформировать диаграмму"
    click=(action "onClick")
  }}
</div>
<div class="container111111111" style="width:100%; height:400px;">

</div>
